@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

h1,
.h1,
.h2,
.h5,
ul {
  font-family: "Roboto Slab", sans-serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

body ul {
  font-size: 15px;
}

body .btn-warning {
  background-color: darkorange;
  font-family: "Roboto Slab", sans-serif;
  color: white;
}
